{% extends 'base.html' %}
{% load static %}
{% block content %}
                <main>
                    <div class="container">
                        {% if messages %}
                                        <div class="alert alert-danger" role="alert">
                                            {% for message in messages %}
                                            {{message}}
                                            {% endfor %}
                                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-10">
                                <div class="container-fluid px-4">
                                   
                                    <br><br>
                                    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                                        <h4 class="mt-4">
                                           <i class="bi bi-gear-fill text-primary"> &nbsp;&nbsp;Staff Page</i>
                                        </h4>
                                        <a class="float-end" href="{% url 'employee_logout' outlet_staff1.pk %}"> <button class="btn btn-outline-danger">Logout</button></a>
                                        <ol class="breadcrumb mb-4">
                                            <li class="breadcrumb-item active text-primary">Detail Staff settings</li>
                                        </ol>

                                    <hr class="bg-danger border-warning">
                                        <div class="card w-75 mb-3" style="width: 18rem;">
                                          <div class="card-header">

                                          </div>

                                          
                            
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item"> 
                                                    <p><i class="bi bi-shop text-primary">&nbsp;&nbsp;<strong>Realtime Staff Settings</strong></i>

                                                           {% if outlet_staff1.outlet_staff.image %}
                                    <img src="{{ outlet_staff1.outlet_staff.image.url }}" class="rounded-circle float-end" alt="User Image" style="width: 90px; height: 90px;">
                                    {% else %}

                                     <img src="{% static 'images/default.png' %}" class="img-fluid rounded-circle float-end" style="width:90px; height: 90px;" >
                                    {% endif %}


                                                    </p>
                                                    <ol class="breadcrumb mb-4">
                                            <li class="breadcrumb-item active text-primary"><i class="bi bi-box-arrow-in-right">&nbsp;&nbsp;Employee Details</i></li>
                                        </ol>
                                                    <hr class="bg-danger border-warning">
                                                <div class="d-grid gap-2 text-primary">

                                                       Staff Name : {{outlet_staff1.outlet_staff}} <hr class="bg-danger border-warning">

                                                      <p> Staff Role : <small class="muted-text bg bg-outline-primary">{{outlet_staff1.outlet_staff.status}}</small></p><hr class="bg-danger border-warning">

                                                       <p> Staff Phone Number :<small class="muted-text"> {{outlet_staff1.outlet_staff.phone_number}}</small></p><hr class="bg-danger border-warning">

                                                       <p> Staff Address : <small class="muted-text">{{outlet_staff1.outlet_staff.address}}</small></p><hr class="bg-danger border-warning">

            
                                                    
                                                        
                                                </div>
                                
                                                </li>
                                            </ul>
                                
                                        </div>
                                            

                                    </div>

                                    
                                    
                                </div>
                                    
                            </div>
                        
                            <div class="col-2">
                                <br><br>
                                    
                            
                            </div>
                        
                        </div>
                    </div>
                    
                </main>
{% endblock%}
               