{% extends 'base.html' %}
{% load static %}
{% block content %}
                <main>
                    <div class="container">
                        {% if messages %}
                                        <div class="alert alert-danger" role="alert">
                                            {% for message in messages %}
                                            {{message}}
                                            {% endfor %}
                                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-5">
                                <div class="container-fluid px-4">
                                   
                                    <br><br>
                                    <div class="shadow p-2 mb-3 bg-body-tertiary rounded">
                                            <i class="bi bi-gear-fill text-primary"> &nbsp;&nbsp;Settings</i>
                                        <ol class="breadcrumb mb-4">
                                            <small class="breadcrumb-item active text-primary"> System settings</small>
                                        </ol>

                                        <hr class="bg-danger border-warning">
                                    
                                        <div class="card">
                                            <div class="card-header border-light mb-3">

                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title"></h5>
                                                <p class="card-text">
                                                 <i class="bi bi-shop text-primary">&nbsp;&nbsp;<strong>Outlets and POS Settings</strong></i>
                                                </p>
                                                <hr class="bg-danger border-warning">
                                                <div class="d-grid gap-2">

                                                    <a href="{% url 'settings_paged' %}"><button class="btn btn-outline-light text-primary"><i class="bi bi-sliders2">&nbsp;&nbsp;Outlets</i></button></a>
                                                    <a href="{% url 'outlet_staffs' %}">
                                                    <button class="btn btn-outline-light text-primary"><i class="bi bi-sliders2">Employees</i></button></a>
                                                                                             
                                                </div>
                                          </div>
                                        </div>
                                        

                                    </div>

                                    
                                    
                                </div>
                                    
                            </div>
                        
                            <div class="col-7">
                                
                                <br><br>
                                    
                                    
    
                                    <div class="shadow p-2 mb-3 bg-body-tertiary rounded"> 
                                        <br>
                                        <a href="{% url 'create_outlet' %}"><button  class="btn btn-outline-info"><i class="bi bi-database-fill-add">&nbsp;&nbsp;&nbsp;Add Outlets</i></button></a>
                                        
                                        <hr class="border-warning">
                                        <br>
                                        <div class="table-responsive">
                            
                                        <table class="table table-hover  table-sm text-center  " style="width: 100%;">

                                          <thead class="table-secondary text-muted ">
                                            <tr class="text-primary">
                                              <th scope="col" style="width: 20%;"><i><h6>Name</h6></i></th>
                                              <th scope="col" style="width: 50%;"><i class="bi bi-geo-fill">&nbsp;&nbsp;&nbsp;Address</i></th>
                                              <th scope="col" style="width: 15%;"><i><h6>No. of Pos</h6></i></th>
                                              <th scope="col" style="width: 10%;"><i><h6></h6></i></th>
                                              
                                            </tr>
                                          </thead>
                                          <tbody>
                                            
                                            {% for outlet in outlet %}
                                            <tr class="text-primary">
                                              <td style="vertical-align: middle; padding-top: 10px;" ><a class="text-primary" href="{% url 'settings_pagedup' outlet.pk %}" style="text-decoration: none;"><i>{{ outlet.name }}</i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
</td>
                                                <td style="vertical-align: middle; padding-top: 10px;">
                                                {% if outlet.address %}
                                                    <a style="text-decoration:none;" href="{% url 'settings_pagedup' outlet.pk %}"><i>{{ outlet.address }}</i></a>
                                                {% endif %}
                                                </td>
                                              <td style="vertical-align: middle; padding-top: 10px;"><i>{{ outlet.number_of_pos }}</i></td>
                                              <td style="vertical-align: middle; padding-top: 10px;"><a style="text-decoration:none;" href="{% url 'settings_pagedup' outlet.pk %}"> <i class="bi bi-pencil-square"></i></a>&nbsp;
                                                <a style="text-decoration:none;" href="{% url 'delete_outlet' outlet.pk %}"><i class="bi bi-trash3-fill"></i></a>
                                              </td>
                                            </tr>

                                            {% endfor %}

                                          </tbody>
                                        </table>
                                        
                                        </div>
                                    </div>
                                
                            </div>
                        
                        </div>
                    </div>
                    
                </main>
{% endblock %}