{% extends 'base.html' %}
{% load static %}
{% block content %}
                <main>
                    <div class="container">
                        {% if messages %}
                                        <div class="alert alert-danger" role="alert">
                                            {% for message in messages %}
                                            {{message}}
                                            {% endfor %}
                                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-10">
                                <div class="container-fluid px-4">
                                {% if user.id == object.user.id %}
                                    <h1 class="mt-4">Category Information</h1>
                                    <ol class="breadcrumb mb-4">
                                        <li class="breadcrumb-item active">Update Category</li>
                                    </ol>
                                    <hr class="bg-danger border-warning">
                                    <div class="row">
                                        <div class="card ">
                                              <small class="card-header">
                                             
                                            <form method="POST">
                                                            {% csrf_token %}

                                                            {{form.as_p}}
                                                           <center> <button class="btn btn-outline-secondary"> submit </button></center>
                                                            
                                            </form></small>
                                                  
                                        </div>
                                    </div>
                                    
                                    <div class="row"> 
                                        <div class=" card">
                                            <div class="card-footer btn btn-outline-secondary d-flex align-items-center    justify-content-between" ><i class="fas fa-angle-left "></i>
                                                <a class="small stretched-link" href="{% url 'create_category' user.id %}">Return to Category Lists</a>
                                            </div>
                                        </div>        
                                    </div>
                                {% else%}   
                                        <main>
                                            <div class="container">
                                                <div class="row justify-content-center">
                                                    <div class="col-lg-6">
                                                        <div class="text-center mt-4">
                                                            <h1 class="display-1">401</h1>
                                                                <p class="lead">Unauthorized</p>
                                                                    <p>Access to this resource is denied.</p>
                                                                        <a href="{% url 'index' %}">
                                                                            <i class="fas fa-arrow-left me-1"></i>
                                                                            Return to Dashboard
                                                                        </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </main>  
                                {% endif %}
                                    
                                </div>
                            </div>
                        
                            <div class="col-2">
                                <br><br>
                                    <center>
                                    
                                    
                                    </center>
                            
                            </div>
                        
                        </div>
                    </div>
                    
                </main>
{% endblock %}