{% extends 'base.html' %}
{% load static %}
{% block content %}
                <main>
                     <a href="{% url 'salesrcd2' pk=request.user.id %} "> <i class="bi bi-cart4 fs-1 float-end text-danger">
 <button class="btn btn-outline-primary text-danger">
                    {% if totalQ %}
                        {{totalQ}}
                    {% else %}
                        0
                    {% endif %}                    
            </button></i></a>&nbsp;&nbsp;
                    <div class="container">
                        {% if messages %}
                                        <div class="alert alert-danger" role="alert">
                                            {% for message in messages %}
                                            {{message}}
                                            {% endfor %}
                                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-6">
                                <div class="container-fluid px-4">
                                    <h1 class="mt-4">Receipts</h1>
                                    <ol class="breadcrumb mb-4">
                                        <li class="breadcrumb-item active">Create Receipts</li>
                                    </ol>
                                    <hr class="bg-danger border-warning">
                                    <div class="row">
                                        
                                            <div class="card bg-primary text-white mb-4">
                                                <div class="card-body "> 
                                                    <form method="POST">
                                                    {% csrf_token %}
                                                        {{form.as_p}}
                                                    
                                
                                                    
                                                    <center> <button class="btn btn-outline-secondary text-white"> save </button></center>
                                                    
                                                    </form>
                                                    <form method="POST">
                                                    {% csrf_token %}
                                                    
                                                        {{formP.as_p}}
                                
                                                    
                                                    <center> <button class="btn btn-outline-secondary text-white"> Update option</button></center>
                                                    
                                                    </form>                    
                                                </div>
                                            </div>
                                        
                                    </div>
                                    <hr class="bg-danger border-warning">
                                </div>
                            </div>

                            <div class="col-6">
                                <br><br><br><br><br><br><br><br><br><br><br><br><br>
                             <center>
                                
                                <p> Sub Total: <small>{{Receipt.total_price}}</small>  </p>
                                <hr class="bg-danger border-warning">
                                 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Charge
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title fs-5" id="staticBackdropLabel">Payment</h4>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{Receipt.total_price}}
        <p><small class="text-muted">Amount to be paid </small></p>
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{% url 'create_receiptS' Receipt.id %}"> <button type="button" class="btn btn-primary">CHARGE</button></a>
      </div>
    </div>
  </div>
</div>

                             </center>       
                            
                            </div>
                        
                        </div>
                    </div>
                    
                </main>
{% endblock %}