{% extends 'base.html' %}
{% load static %}
{% block content %}
                <main>
                    <div class="container">
                        {% if messages %}
                                        <div class="alert alert-danger" role="alert">
                                            {% for message in messages %}
                                            {{message}}
                                            {% endfor %}
                                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-10">
                                <div class="container-fluid px-4">
                                    
                                    <h1 class="mt-4">Payment Information</h1>
                                    <ol class="breadcrumb mb-4">
                                        <li class="breadcrumb-item active">Add Payment option</li>
                                    </ol>
                                    <hr class="bg-danger border-warning">
                                    
                                    <div class="row">
                                        
                                            <div class="card bg-primary text-white mb-4">
                                                <div class="card-body"> 
                                                
                                                <form method="POST">
                                                {% csrf_token %}
                                                    <form method="post">
                                                      {% csrf_token %}
                                                        {{form.as_p}} 
                                                     
                                                    <center> 
                                                    <button class="btn btn-secondary"> save </button>
                                                    </center>
                                                </form>
                                                
                                                                    
                                                </div>
                                                
                                            </div>
                                        
                                    </div>
                                    
                                    <hr class="bg-danger border-warning">
                                    

                                </div>
                            </div>
                        
                            <div class="col-2">
                                <br><br>
                                    <center>
                                    
                                    </center>
                            
                            </div>
                        
                        </div>
                    </div>
                    
                </main>
{% endblock %}