{% extends 'base.html' %}
{% load static %}
{% block content %}
                <main>
                    <div class="container">
                        {% if messages %}
                                        <div class="alert alert-danger" role="alert">
                                            {% for message in messages %}
                                            {{message}}
                                            {% endfor %}
                                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-10">
                                <div class="container-fluid px-4">
                                
                                    <h1 class="mt-4">Product Information </h1>
                                    <ol class="breadcrumb mb-4">
                                        <li class="breadcrumb-item active">Update Product </li>
                                    </ol>
                                    <hr class="bg-danger border-warning">
                                    <div class="row">
                                        <div class="card ">
                                              <small class="card-header">
                                             
                                            <form method="POST">
                                                            {% csrf_token %}

                                                            {{form.as_p}}
                                                           <center> <button class="btn btn-outline-secondary" > save </button>
                                                                     <a href=""> 
                                                                        <button class="btn btn-outline-danger" ><small class="text-muted">Delete </small>
                                                                        </button>
                                                                    </a>
                                                           </center>
                                                            
                                            </form></small>
                                                  
                                        </div>
                                    </div>
                                    
                                    <div class="row"> 
                                        <div class=" card">
                                            <div class="card-footer btn btn-outline-secondary d-flex align-items-center    justify-content-between" ><i class="fas fa-angle-left "></i>
                                                <a class="small stretched-link" href="{% url 'product_lists' %}">Return to Product Lists</a>
                                            </div>
                                        </div>        
                                    </div>
                                  
                                          
                                
                                    
                                </div>
                            </div>
                        
                            <div class="col-2">
                                <br><br>
                                    <center>
                                    
                                    
                                    </center>
                            
                            </div>
                        
                        </div>
                    </div>
                    
                </main>
{% endblock %}