{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
                <main>
            
                
                    <div class="container-fluid px-4">
                        {% if messages %}
                                        <div class="alert alert-danger" role="alert">
                                            {% for message in messages %}
                                            {{message}}
                                            {% endfor %}
                                        </div>
                        {% endif %}
                        <h1 class="mt-4">Products</h1>
      

                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Sales by Product</li>
                        </ol>


                        <div class="row">
                             <form method="get" action="" class="row g-3">
                                                    <div class="col-md-6">
                                                        <label for="start_date" class="form-label">Start Date:</label>
                                                        <input type="date" name="start_date" id="start_date" value="{{ start_date }}" class="form-control">
                                                    </div>
                                                    
                                                    <div class="col-md-6">
                                                        <label for="end_date" class="form-label">End Date:</label>
                                                        <input type="date" name="end_date" id="end_date" value="{{ end_date }}" class="form-control">
                                                    </div>
                                                    
                                                    <div class="col-12">
                                                        <center><button type="submit" class="btn btn-outline-primary">Filter</button></center>
                                                    </div>
                                            </form>
                                            <br><br>
                                            <hr class="bg-danger border-warning">

                            
                            
                        </div>
                
            

                        <div class="shadow p-2 mb-3 bg-body-tertiary rounded">

                                        <br>

                                        <a href=""><button  class="btn btn-outline-info"><i class="bi bi-database-fill-add">&nbsp;&nbsp;&nbsp;</i></button></a>
                                        
                                        <hr class="border-warning">
                                        <br>
                                        <h6 class="text-primary muted-text"> Sales Details for {{start_date}} to {{end_date}}</h6><br>


                                <table class="table table-hover table-sm text-center" style="width: 100%;">
                                    <thead class="table-secondary text-muted">
                                        <tr class="text-primary">
                                            <th scope="col" style="width: 20%; padding-top: 10px;"><i><h6>Product Details</h6></i></th>
                                            <th scope="col" style="width: 15%;"><i><h6>Category</h6></i></th>
                                            <th scope="col" style="width: 15%;"><i><h6>Product ID</h6></i></th>
                                            <th scope="col" style="width: 15%;"><i><h6>Selling Price</h6></i></th>
                                            <th scope="col" style="width: 15%;"><i><h6>Total Qty</h6></i></th>
                                            <th scope="col" style="width: 20%;"><i><h6>Total Product Sold</h6></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for product_id, total_quantity in totalQ_per_product %}
                                            {% for product in pro %}
                                                {% if product.id == product_id %}
                                                    <tr class="text-primary">
                                                        <td style="vertical-align: middle; padding-top: 10px;">
                                                            <a class="text-primary" href="{% url 'product_sales' product.pk %}" style="text-decoration: none;">
                                                                <i><h6>{{ product.product_name }}</h6></i>
                                                            </a>
                                                        </td>
                                                        <td style="vertical-align: middle; padding-top: 10px;">
                                                            <a style="text-decoration:none;" href="{% url 'product_sales' product.pk %}">
                                                                <i><h6>{{ product.category }}</h6></i>
                                                            </a>
                                                        </td>
                                                        <td style="vertical-align: middle; padding-top: 10px;">
                                                            <a style="text-decoration: none; " href="{% url 'product_sales' product.pk %}">
                                                                <i><h6>00{{ product.id }}</h6></i>
                                                            </a>
                                                        </td>
                                                        <td style="vertical-align: middle; padding-top: 10px;">
                                                            <a style="text-decoration:none;" href="{% url 'product_sales' product.pk %}">
                                                                <i><h6>{{ product.selling_price }}</h6></i>
                                                            </a>
                                                        </td>
                                                        <td style="vertical-align: middle; padding-top: 10px;">
                                                            <a style="text-decoration:none;" href="{% url 'product_sales' product.pk %}">
                                                                {{ total_quantity }}
                                                            </a>
                                                        </td>
                                                        <td style="vertical-align: middle; padding-top: 10px;">
                                                            <a style="text-decoration:none;" href="{% url 'product_sales' product.pk %}">
                                                                {% for product_id_sold, total_quantity_sold in total_sold_n_product %}
                                                                    {% if product_id_sold == product.id %}
                                                                        {{ total_quantity_sold }}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </tbody>
                                </table>

                            
                            
                                          
                        </div>
                        <br>
                </main>
{% endblock %}
 
