{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{{ request.resolver_match.url_name|title }} - Bukkof POS Admin{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
         <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
         <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1 /font/bootstrap-icons.css" rel="stylesheet">
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/intlTelInput.css' %}">
        
       

    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="{% url 'index' %}">BUKKOF POS</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->

            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>

            <small class="muted-text text-white">Hello, {{user.first_name}}</small>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'view_profile' user.pk %}">My Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'settings_page' %}">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        {% if user.is_authenticated %}
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>

                        {% endif %}
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="{% url 'create_receipt' user.id  %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Create Receipts 
                            </a>
                             <a class="nav-link"href="{% url 'salesrc' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Manage Sales 
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Product Lists
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'product_lists' %}">Products</a>
                                    <a class="nav-link" href="{% url 'create_category' user.id %}">Categories</a>
                                     <a class="nav-link" href="{% url 'create_measure' user.id %}">Measurements</a>

                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Sales
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Manage Sales
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>

                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="{% url 'salesrc'  %}">Past Receipt</a>
                                            
                                            <a class="nav-link" href="{% url 'product_sale'  %}">Sales by Product</a>

                                    
                                            
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Payments
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            
                                            <a class="nav-link" href="{% url 'payoptions' %}">Payment Option</a>
                                            <a class="nav-link" href="">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as: {{user.username}} </div>
                        
                    </div>
                </nav>
            </div>

            <div id="layoutSidenav_content">

                <main>
                    
                    <div class="container">
                        {% if messages %}
                                        <div class="alert alert-danger" role="alert">
                                            {% for message in messages %}
                                            {{message}}
                                            {% endfor %}
                                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-8">
                                <div class="container-fluid px-4">
                                    
                                    <h1 class="mt-4"> </h1>
                                    <ol class="breadcrumb mb-4">
                                        
                                            <div class=" card">
                                                    <div class="card-header btn btn-outline-primary   d-flex align-items-center    justify-content-between" > <i class="fas fa-angle-left "></i> &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <a class="small stretched-link " style="text-decoration: none;"  href="{% url 'salesrc' %}">  Return to past receipts</a>
                                                    </div>
                                                </div>
                                    </ol>
                                    
                                            <hr class="bg-danger border-warning">

                                        <div class="card bg bg-primary text-white w-100 mb-3">
                                            <br><br>
                                            {% for receipt in products %}  
                                            <div class="container-fluid text-center ">
                                                <div class="row d-flex align-items-center justify-content-between">
                                                <div class="col-md-3"> {{receipt.product.product_name|upper}}</div>

                                                <div class="  col-md-3 d-flex align-items-center"> 
                                                <input class="Q_id bg-primary text-white form-control" id="qty_{{receipt.id}}" type="number" value="{{receipt.Quantity}}" name="quantity" min="0">  
                                                &nbsp;
                                                <button type="button" id="qty_{{receipt.id }}" data-index ="{{receipt.id}}"  data-receipt-id="{{Receipt.id}}" class= " btn-sm update_receipt btn btn-outline-light " ><i class="bi bi-check-circle-fill"></i>
                                                </button>

                                                </div> 
                                                <div class="col-md-1"> X </div> 
                                                <div class="col-md-2"> {{receipt.product.selling_price}} </div> 
                                                
                                                <div class="col-md-2"> <h6>{{receipt.price}}</h6> </div> 

                                                
                                                <div class="col-md-1"><a  href="{% url 'remove_producto' receipt.id %}" > <i class=" text-white bi bi-trash3-fill"></i></a> </div> 
                                            

                                                
                                                </div>
                                            </div>
                                            <hr><br><br><br>


                                            
                                            {% endfor %}
                                            
                                            <br><br><br><br><br>
                                            <div class="card-body d-flex align-items-center    justify-content-between">
                                                 <h6>Total</h6> <h6>{{Receipt.get_total_amount_onR}} </h6>
                                            </div>
                                            
                                                                                     <br>
                                            <div class="card-footer">
                                                <center>
                                                <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                Charge
                                                </button>
                                            </center>
                                            
                                            

                                            </div>
            
                                        </div>
                                </div>
                            </div>
                            <div class="col-3 text-center">
                                    <br><br><br><br><br><br><br><br><br><br><br><br><br>
                                    
                                <p> <h6> Amount : {{Receipt.get_total_amount_onR}}</h6>  </p>
                                        <hr class="bg-danger border-warning">
                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header bg-primary text-white">
                                        <h4 class="modal-title fs-5" id="staticBackdropLabel">Payment</h4>
                                        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                        <center>
                                            <p><small class="text-muted">Amount Due </small><h6>
                                        {{Receipt.get_total_amount_onR}}</h6></p><br>
                                        <form id="myForm" method="post" action="{% url 'salesrcd2' Receipt.pk %}">
                                                <center>
                                                     {% csrf_token %}
                                                         
                                                    {{ formpay.as_p }}
                                               <center>
                                                <button type="submit" class="btn btn-outline-primary">Charge</button>
                                        
                                                
                                            
                                            </center>
                                                </form><br>
                                                                                
                                        
                                                
                                        <hr class="bg-danger border-warning">
                                        
                                         </center>   
                                      </div>
                                      <div class="modal-footer">

                                        
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                

                                

                            
                            </div>
                        
                        </div>
                    </div>
                    
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; First Bukkof POS {{ current_year }}</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
       
         <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/utils.js"></script>

        
	<script type="text/javascript">
	    $(document).ready(function(){
	    $(".update_receipt").click(function(){
	        let productId = $(this).data('index');
	        let receiptId = $(this).data('receipt-id');
	        let receiptQty = $('#qty_' + productId).val();
            let receiptRemarks = $("#remarks_receipt").val();
	    
	        $.ajax({
	            type: 'POST',
	            url: '{% url 'change_quantity'%}' ,
	            data: {
	                receipt_id: receiptId, // Change to receipt_id
	                product_id: productId,
	                receipt_Qty: receiptQty,
                    receipt_remarks:receiptRemarks,
	                csrfmiddlewaretoken: '{{csrf_token }}',
	                action: 'post'
	            },
	            success: function(json) {
	                
                    location.reload();
	            },
	            error: function(xhr, errmsg, err) {
	                
	            }
	        });

	    })
	})

	</script>

</body>
</html>
